.Blog {
  text-align: center;
}

.Form {
  width: 40%;
  margin: auto;
  padding-top: 20px;
}

.Back {
  color: #282c7b;
  cursor: pointer;
  padding-top: 15px;
}

.Back:hover {
  text-decoration: none;
}
